@import "base";
@import "animations";

$sans: 'Montserrat', sans-serif;
$serif: 'Rokkitt', serif;

html {
 background-color: #353535;
}

.body {
	font-family: $sans;
}

// topper
.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: #222;
	z-index: 1;
}

.url-input-mod {
	width: 60%;
	margin: 10px 20%;
	height: 50px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.url-input {
	@include input-default;
	@include absolute(0 0 0 0);
	background-color: #fff;
	display: block;
	@include size(100%);
	padding: 13px;
	font-size: 25px;
	font-family: $serif;
}

.url-input-btn {
	@include input-default;
	@include absolute(0 0 0 n);
	width: 110px;
	z-index: 1;
	display: block;
	float: right;
	background-color: teal;
	color: #fff;
	font-family: $sans;
}


// side nav

.side-nav-mod {
	width: 350px;
	// height: 100%;
	padding: 10px;
	position: fixed;
	left: 0;
	top: 80px;
	bottom: 0;
	overflow: scroll;
}

.main-content-mod {
	margin-left: 350px;
	background-color: #f7f7f7;
	padding: 30px;
	margin-top: 70px;
}
.side-nav-title {
	color: #fff;
	font-size: 14px;
	margin-bottom: 2px;
	display: block;
	font-weight: 400;
	border-bottom: solid 1px #ddd;
	margin-bottom: 10px;
}

.side-nav-title {
	color: #fff;
	font-size: 14px;
	margin-bottom: 2px;
	display: block;
	font-weight: 400;
	border-bottom: solid 1px #ddd;
	margin-bottom: 10px;
}

.side-nav-group {
	margin-bottom: 35px;
}

// form stuff

.form-label {
	color: #fff;
	font-size: 12px;
	margin-bottom: 2px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

.form {
	margin-bottom: 15px;
}

.textarea {
	@include input-default;
	padding: 7px;
	background-color: #fff;
	margin-bottom: 5px;
	width: 100%;
	font-size: 16px;
	font-family: $serif;
}

.submit-btn {
	@include input-default;
	background-color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 5px 8px 3px;
	font-family: $serif;
	&:hover {
		background-color: #ddd;
	}
}

// content types

.full-width {
	width: 100%;
	display: block;
}

.preview-title {
	padding: 10px;
	background: #ddd;
	margin-bottom: 20px;
}

.preview-mod {
	border: solid 1px #dfdfdf;
	margin-bottom: 50px;
	background-color: #fff;
	position: relative;
	padding-bottom: 20px;
	// &.active {
	// 	&:after {
	// 		@include psuedo(-1px n -1px -10px);
	// 		width: 5px;
	// 		background-color: #f50000;
	// 	}
	// }
}

.preview-mod-inner {
	margin: 0 auto;
}

.facebook-desktop {
	width: 496px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	@include border-radius(3px);
	padding: 12px;
}

.facebook-desktop-img {
	width: 100%;
	height: 276px;
	background-size: cover;
	background-position: 50% 50%;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.facebook-desktop-card {
	width: 470px;
	border: solid 1px rgba(0, 0, 0, .1);
	background: #fff;
}

.facebook-desktop-hgroup {
	padding: 10px 12px;
}

.facebook-desktop-title {
	font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 5px;
}

.facebook-desktop-desc {
	font-family: Helvetica;
	line-height: 16px;
	max-height: 80px;
	overflow: hidden;
	font-weight: normal;
	margin-bottom: 7px
}

.facebook-desktop-domain {
	font-family: Helvetica;
	color: #9197a3;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	font-style: normal;
}

//  facebook mobile
.preview-mod-facebook-mobile {
	background-color: #D3D6DB;
}

.facebook-mobile {
	width: 300px;
	background: #fff;
	padding: 10px 10px 53px;
	border-radius: 2px;
	position: relative;
	@include box-shadow(0 0 10px rgba(0,0,0,.2));
	overflow: hidden;
}

.facebook-mobile-card {
	background-color: #F7F7F7;
	border: 1px solid #e1e8ed;
}

.facebook-mobile-hgroup {
	padding: 10px;
	font-family: Helvetica;
}

.facebook-mobile-title {
	color: #494949;
	margin-bottom: 5px;
}

.facebook-mobile-name {
	font-weight: normal;
	color: #A5A5A5;
}

.facebook-mobile-img {
	background-size: cover;
	background-position: 50% 50%;
	@include size(280px 146px);
	border-bottom: 1px solid #e1e8ed;
}
.facebook-mobile-img-footer {
	@include absolute(n 0 0 0);
	width: 300px;
	border-top: 1px solid #e1e8ed;
}

// twitter desktop

.preview-mod-twitter {
	background-color: #f5f8fa;
}

.twitter-desktop {
	width: 590px;
	padding: 13px 15px 15px;
	background: #fff;
	border: 1px solid #e1e8ed;
}
.twitter-desktop-inner {
	padding-left: 30px;
}

.twitter-desktop-name {
	position: relative;
	&:before {
		@include psuedo(3px n n -30px);
		@include size(24px);
		@include border-radius(4px);
		background: #ddd;
	}
}

.twitter-desktop-name {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #292f33;
	margin-bottom: 3px;
}
.twitter-desktop-handle {
	color: rgb(136, 153, 166);
	font-size: 13px;
	font-weight: normal;
	padding-left: 5px;
}

.twitter-desktop-title {
	margin-bottom: 10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(41, 47, 51);
	font-size: 26px;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: .01em;
	> a {
		color: rgb(103, 129, 139);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.twitter-desktop-img {
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	height: 262px;
	background-position: 50% 50%;
	background-size: cover;
}

// Twitter Mobile

.twitter-mobile-card {
	width: 320px;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
	padding: 0 10px;
}

.twitter-mobile-card-img {
	width: 300px;
	height: 141px;
	border-radius: 4px;
	margin-bottom: 5px;
	background-size: cover;
	background-position: 50% 50%;
}

.twitter-mobile-card-title {
	margin-bottom: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(41, 47, 51);
	font-size: 22px;
	font-weight: 300;
}

.twitter-mobile-card-source {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #93A2AD;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px;
}

.twitter-mobile-card-desc {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(41, 47, 51);
	font-size: 16px;
	font-weight: 400;
}

.twitter-mobile-card-name-hgroup {
	margin-bottom: 8px;
	@include clearfix;
}

.twitter-mobile-card-avatar {
	@include size(24px);
	border-radius: 4px;
	background: #ddd;
	display: block;
	float: left;
	margin-right: 5px;
}

.twitter-mobile-card-name {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: block;
	font-weight: 700;
	float: left;
	line-height: 24px;
}

// google desktop

.google-desktop {
	width: 512px;
}

.google-desktop-pair {
	@include pair(134px, 10px, top);
}

.google-desktop-img {
	height: 100px;
	background-size: cover;
	background-position: 50% 50%;
}

.google-desktop-text-bd {
	font-family: arial, sans-serif;
}

.google-desktop-title {
	color: rgb(26, 13, 171);
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 2px;
}

.google-desktop-name {
	color: #006621;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 6px;
}
.google-desktop-time {
	color: rgb(128, 128, 128);
	text-transform: none;
}

.google-desktop-desc {
	color: rgb(84, 84, 84);
	display: block;
	font-weight: normal;
	font-size: 13px;
}

//  google mobile

.google-mobile-preview {
	background-color: #EEEEEE;
}

.google-mobile {
	width:  300px;
	background-color: #fff;
	border: solid 1px #EBEBEB;
	border-radius: 2px;
	overflow: hidden;
	display: block;
	@include box-shadow(0 2px 2px rgba(0,0,0,.05));
}

.google-mobile-img {
	width: 116px;
	height: 156px;
}

.google-mobile-card {
	@include pair(116px, 10px, top, right);
}

.google-card-mobile-hgroup {
	float: left;
	@include clearfix;
	width: 182px;
	padding: 10px;
	font-family: arial, sans-serif;
}

.google-mobile-title {
	color: rgb(26, 13, 171);
	font-weight: normal;
	font-size: 18px;
}

.google-mobile-source {
	color: #006621;
	font-weight: normal;
}

.google-mobile-name {
}

.google-mobile-time {
	color: rgb(128, 128, 128);
}
